* {
	font-family: sans-serif;
}

form {
	display: inline-block;
}

button {
	border-radius: 5px;
}

.highlighted {
	background-color: #CC0000;
}

thead {
	font-weight: bold;
}

td {
	border: 1px solid black;
}

